BasedOnStyle: Google
IndentWidth: 8
ColumnLimit: 80
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
AlignConsecutiveAssignments: true
SortIncludes: true

SpacesBeforeTrailingComments: 0
AlwaysBreakTemplateDeclarations: false
SpaceAfterCStyleCast: false

DerivePointerAlignment: false
PointerAlignment: Left
SeparateDefinitionBlocks: Always
UseTab: Never
