BasedOnStyle: Google
IndentWidth: 8
ColumnLimit: 100
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
AlignConsecutiveAssignments: true
SortIncludes: true

SpacesBeforeTrailingComments: 0
AlwaysBreakTemplateDeclarations: false
SpaceAfterCStyleCast: false
